:root {
    --cor-principal: #fdf6ed;
    --cor-letra: #727272;
    --branco: #ffffff;
    --shadow:#555555;
    --variacao-principal1: #8bca84;
    --variacao-principal2: #72bf6a;
    --variacao-principal3: #5bb450;
    --verde: #42d856;
    --preto: #000
}